<div class="controls">
  <label for="gridSize">Grid Size ({{this.size}}x{{this.size}})</label>
  <input id="gridSize" type="range" value="{{size}}" min="10" max="75" {{on "change" this.setSize}}>
</div>

{{#each this.grid as |row|}}
  <div class="row">
    {{#each row as |cell|}}
      <div class="cell {{to-lower (cell-type cell)}}">&nbsp;</div>
    {{/each}}
  </div>
{{/each}}